[build]
command = "yarn build"
publish = "dist"
functions = "netlify/functions"

[functions]
node_bundler = "esbuild"

[functions."email-cron"]
schedule = "0 * * * *"

[build.environment]
NETLIFY_USE_YARN = "true"
NODE_VERSION = "18"
